header {
  height: 60vh;
}

.email-input {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border: solid, 1px, var(--primary-color);
}

.custom-card {
  background: radial-gradient(
    circle at bottom right,
    var(--highlight-color),
    var(--primary-color)
  );
}
