{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
{% endblock %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="dashboard-title">Dashboard</h1>
        </div>
    </div>
</div>

<div class="container mb-4">
    <div class="row">
        <div class="col subscription-card">
        <h3>Subscription</h3>

        {% if subscription and subscription.is_active %}
        <div class="plan-name">
            {{ subscription.plan.name }}
        </div>

        {% if subscription.plan.max_backtests_per_day %}
        <div class="usage">
            <span>{{ today_count }}</span> / {{ subscription.plan.max_backtests_per_day }}
            backtests today
        </div>
        {% else %}
        <div class="usage unlimited">
            Unlimited backtests
        </div>
        {% endif %}

        <a href="{% url 'backtest-list' %}" class="btn-secondary">
            Manage subscription
        </a>

        {% else %}
        <div class="plan-name free">
            Free
        </div>

        <div class="usage">
            {{ today_count }} / 5 backtests today
        </div>

        <a href="{% url 'backtest-list' %}" class="btn-primary">
            Upgrade
        </a>
        {% endif %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h3>Your Backtests</h3>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-2 col-md-10">
            <table class="dashboard-table">
                <thead>
                    <tr>
                        <!-- <th>ID</th> -->
                        <th>Strategy</th>
                        <th>Symbol</th>
                        <th>Status</th>
                        <th>Created</th>
                    </tr>
                </thead>

                <tbody>
                    {% for run in runs %}

                    <tr style="cursor:pointer;">
                        <!-- <td>{{ run.id }}</td> -->
                        <td>{{ run.strategy.name }}</td>
                        <td>{{ run.symbol }}</td>
                        <td>
                            <a class="row-link" href="{% url 'backtest-detail' run.id %}">
                                <span class="status-pill status-{{ run.status }}">
                                    {{ run.status }}
                                </span>
                            </a>
                        </td>
                        <td>{{ run.created_on|date:"Y-m-d H:i" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}